@model WeightHistory
<div style="margin-top: 14%;">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="Delete" asp-route-id="@Model.Id">
                <input type="hidden" asp-for="Id" />
                <div class="modal-header" style="background: #435d7d;">
                    <h4 class="modal-title" style="color: white;">Delete weight entry</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color: white;">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="Value" class="control-label"></label>
                        <input asp-for="Value" type="text" class="form-control" readonly />
                    </div>

                </div>
                <div class="modal-footer" style="background: #435d7d;">
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>


