@model WeightHistory

<h1>Weight entry details</h1>

<dl class="row">
    <dt class="col-sm-2">Date</dt>
    <dd class="col-sm-10">@Model.Date.ToShortDateString()</dd>
    <dt class="col-sm-2">Value</dt>
    <dd class="col-sm-10">@Model.Value</dd>
</dl>

<p>
    <a asp
